<!-- <div class="container">
  <tad-sample></tad-sample>
</div> -->
<tad-stepper>
  <tad-step [label]="'New Content '">
    <p>New Content need to projected here</p>
  </tad-step>
  <tad-step [label]="'New Content '">
    <p>New Content need to projected here</p>
  </tad-step>
  <tad-step [label]="'New Content '">
    <p>New Content need to projected here</p>
  </tad-step>
  <tad-step [label]="'New Content '">
    <p>New Content need to projected here</p>
  </tad-step>
</tad-stepper>

<router-outlet></router-outlet>
